*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #536976;
    color: whitesmoke;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 200%;
    margin-top:2%;
    text-align: center;
    text-shadow: 6px 6px 15px #111111;
    border: solid 1px #ccc ;
    background-color: #445656;
}
.header{
   position: sticky;
   top: 0;
}
.hamburger-menu{
    display: none;
}
.hamburger-label{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
}
.hamburger-label img{
    width: 150%;
}
.menu a{
    text-decoration: none;
    color: white;
}
#toggle:checked~.menu{
    display: block;
}
.menu{
    display: none;
}
.style-menu-mobile{
    display: flex;
    flex-direction: column;
    width:30%;
    height: 40%;
    padding: 30px;
    margin-left: 20px;
    gap: 50px;
    background-color: #445656;
    border: solid 1px #ccc;
    box-shadow: 6px 6px 15px #111111;
    border-radius: 5%;
} 
.style-menu-desktop{
    display: none;
}
.a-propos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nom{ 
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    text-align: center;
    text-shadow: 6px 6px 15px #111111;
}
.photo_profil{
    margin-top: 2%;
    width: 50vw;
    box-shadow: 6px 6px 15px #111111;
    border-radius: 5%
}
.apropos{
    gap: 2%;
}
.propos{
    padding: 8%;
    text-align: center;
    font-size: 100%;
}
.apropos h3{
    padding: 20px;
    text-align: center;
    text-shadow: 6px 6px 15px #111111;
    font-size: 150%;
}
.fonction{
    color: #8ceeee;
    text-align: center;
    font-size: 150%;
}
.photo-projets{
    width: 60vw;
    height: 30vh;
    margin-top: 20px;
    box-shadow: 6px 6px 15px #111111;
    border-radius: 5%;
}
h2, .projets h3{
    text-align: center;
    text-shadow: 6px 6px 15px #111111;
    font-size: 150%;
}
h2{
    margin-top: 3%;
    border: solid 1px #ccc ;
    background-color: #445656;
}
.textprojet{
    padding: 8%;
    font-size: 100%;
    text-align: justify;
}
.projet{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-profil{
    width: 50vw;
    border-radius: 50%;
    box-shadow: 6px 6px 15px #111111;
}
.profil{
    padding: 8%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.profil ul{
    margin-top: 8%;
    text-align: center;
}
.formation1,.formation2,.formation3,.formation4{
    border: #ccc 1px solid;
    margin:6%;
    padding: 5%;
    background-color: #445656;
}
.expérience1,.expérience2,.expérience3,.expérience4{
    border: #ccc 1px solid;
    margin: 6%;
    padding: 5%;
    background-color: #445656;
}
.dates{
    font-size: 150%;
}
.lieux{
    margin-top:2%;
    font-size:150%;
    color: rgb(189, 179, 179);
    text-shadow: 6px 6px 15px #111111;
}
.libellé{
    margin-top: 2%;
    font-size: 100%;
    font-weight:bold;
    color:#8ceeee
}
.dates,.lieux,.libellé{
    text-align: center;
}
.formation1 ul,.formation2 ul,.formation3 ul,.formation4 ul{
    margin-top: 5%;
}
.expérience1 ul,.expérience2 ul,.expérience3 ul{
    margin-top: 4%;
}
.contact{
    padding: 2%;
    font-size:110%;
    text-align: center;
}
form{
    margin: 0 auto;
    width: 80%;   
    padding:4%;
    border: 1px solid #ccc;
    box-shadow: 6px 6px 15px #111111;
    background-color:#445656
}
.contact label{
    display: inline-block;
    width: 90%;
    text-align: left;
    margin-top: 2%
}
input, textarea{
    margin-top: 2%;
    font: 1em sans-serif;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 30%;
}
.button{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
button{
    width: 60%;
    height: 30%;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:20px;

}
.logos{
    margin-top: 2em;
    display: flex;
    justify-content:space-evenly;
}

.logos a{
    text-decoration: none;
}
.logos a:hover{
    opacity: 50%;
}
footer{
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
}
@media screen and (min-width: 769px){
.header{
    background-color: #445656;
}
.hamburger-label{
    display: none;
}
.menu{
    display: none;
}
.style-menu-mobile{
    display: none;
}
.style-menu-desktop{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    gap: 50px;
    border-bottom: solid 1px #ccc;
}
.style-menu-desktop a{
    font-size: 3em;
    color:whitesmoke;
    text-decoration: none;
    text-shadow: 6px 6px 15px #111111;
   
}
.style-menu-desktop a:hover{
    opacity: 50%;
}
h1{
   font-size: 8em;
}

.a-propos{
    margin-top: 5em;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.apropos{
    width: 700px;
    display:flex;
    flex-direction: column;
}
.nom{
    font-size: 6em;
}
.photo_profil{
    width:40vw;
}

.propos{
    font-size: 1.5em;
    text-align: justify;
}
.apropos h3{
    font-size: 2em;
}
.projets h3{
    font-size: 2em;
}
.photo-projets{
    width: 25vw;
}
.projets{
    padding: 50px;
    display: flex;
}
h2{
    font-size: 5em;
}
.photo-profil{
    width: 20vw;    
}
.profil{
    flex-direction: row;
    justify-content: center;
   
}
.profil ul{
    margin-top: 0;
    font-size: 2em;
    text-align: left;
    margin-left: 20px;
}
.formations{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.formation1{
    grid-column: 2/5;
    grid-row: 1/2
}
.formation2{
    grid-column: 5/8;
    grid-row: 1/2
}
.formation3{
    grid-column: 2/5;
    grid-row: 2/3
}
.formation4{
    grid-column: 5/8;
    grid-row: 2/3
}
.formation1,.formation2,.formation3,.formation4{
    border-radius: 5%;
}

.expériences{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.expérience1{
    grid-column: 2/5;
    grid-row: 1/2
}
.expérience2{
    grid-column: 5/8;
    grid-row: 1/2
}
.expérience3{
    grid-column: 3/7;
    grid-row: 2/3
}
.expérience1,.expérience2,.expérience3{
    border-radius: 2%;
}
form{
    margin-top: 50px;
    border-radius: 5%;
}
.contact label{
    font-size: 30px;
}
input{
    height: 40px;
}
textarea{
    height:160px;
}
button{
    margin-top: 30px;
    height: 40px;
}
.logos a{
    margin-top: 50px;
}
}